<!DOCTYPE html>
<html lang="en">
<head>
   
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/static/css/styles.css" rel="stylesheet" id="style-css">
     <script src="/static/js/bootstrap.min.js"></script>   
    <title>Editar</title>
</head>
<section class="hero">
        <div class="hero-content">  
            <h2>Modificar un producto</h2>
        </div>
</section>
<main>
    <div class="container">
        <form action="/api/product/{{products._id}}?_method=PUT" method="post">
        <div class="form-group">
            <div class="col-sm-6">
                <label>ID</label>
                <input type="text" disabled class="form-control input-borde" value ="{{products._id}}"  name = "_id">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label>Nombre</label>
                <input type="text" class ="form-control input-borde" value="{{products.name}}" name="name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label>Precio</label>
                <input type="number" class ="form-control input-borde" value="{{products.price}}" name="price">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label>Categoria</label>
                <select name = "category" class="form-control input-borde" value="{{products.category}}">
                    <option value="computers">Computers</option>
                    <option value="phones">Phones</option>
                    <option value="accesories">Accesories</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label>Descripción</label>
                <input type="text" class="form-control input-borde" value="{{products.description}}" name="description">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label>Imagen</label>
                <input type="text" class="form-control input-borde" value="{{products.image}}" name="image">
            </div>
        </div>
        <br><br>
        <div class="form-group">
            <div class="col-sm-6">
                <button class="form-control btn btn-primary btn-color" type="submit">GUARDAR</button>
            </div>
        </div>
        </form>
    </div>
    </main>

